---
import Layout from "../layouts/Layout.astro";
import "../style/main.css";
import { simpleDate } from "../lib";
const { content } = Astro.props;
---

<Layout 
  title={`${content.title}`} 
  pubDate={`Published on ${simpleDate(content.pubDate)}`} 
  author="Ciarán Ainsworth"
  image={`${content.image ? content.image : '/images/avatar.webp'}`}
  description={`${content.description}`}
  alt={`${content.alt ? content.alt : 'A pixel art rendering of the author'}`}>
  <main>
    <article>
      <h1 class="font-bold">{content.title}</h1>
      <p class="pt-0 mb-5">{simpleDate(content.pubDate)}</p>
      <slot />
    </article>
  </main>
</Layout>